@keyframes ldio-dkb7i2edcm9 {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}
.ldio-dkb7i2edcm9 > div {
	animation: ldio-dkb7i2edcm9 1s infinite linear;
	transform-origin: 100px 100px;
}
.ldio-dkb7i2edcm9 > div div {
	position: absolute;
}
.ldio-dkb7i2edcm9 > div div:nth-child(1),
.ldio-dkb7i2edcm9 > div div:nth-child(2) {
	width: 164px;
	height: 164px;
	border: 24px solid;
	border-radius: 50%;
	border-color: transparent #cb3c46 #cb3c46 #cb3c46;
	box-sizing: border-box;
	position: absolute;
	transform: rotate(45deg);
	transform-origin: 100px 100px;
}
.ldio-dkb7i2edcm9 > div div:nth-child(1) {
	transform: rotate(45deg) translate(18px, 18px);
}
.ldio-dkb7i2edcm9 > div div:nth-child(2) {
	transform: rotate(0deg) translate(18px, 18px);
}
.ldio-dkb7i2edcm9 > div div:nth-child(3) {
	width: 0;
	height: 0;
	border: 24px solid;
	border-color: transparent transparent transparent #cb3c46;
	transform: translate(100px, 6px);
}
.loadingio-spinner-reload-nrohzhnsmf9 {
	width: 200px;
	height: 200px;
	display: flex;
	overflow: hidden;
	/* background: #f1f2f3; */
}
.ldio-dkb7i2edcm9 {
	width: 100%;
	height: 100%;
	position: relative;
	transform: translateZ(0) scale(1);
	backface-visibility: hidden;
	transform-origin: 0 0; /* see note above */
}
.ldio-dkb7i2edcm9 div {
	box-sizing: content-box;
}
.loader__container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20%;
}
